<form>

  <!--
    Botones para mostrar u ocultar el formulario
  -->
  <input value="Mostrar Formulario" type="button" (click)="mostrar()" />
  <input value="Ocultar Formulario" type="button" (click)="ocultar()" />

  <!--
    Secciones para el ingreso de informacion de persona
  -->
  <div *ngIf="mostrarFormulario">
    <section>
      <label for="tipoid">Tipo Identificación</label>
      <select name="tipoid" [(ngModel)]="persona.tipoIdentificacion">
        <option>CC</option>
        <option>Tarjeta de Identidad</option>
        <option>Cedula de entranjeria</option>
        <option>Pasaporte</option>
      </select>
    </section>

    <section>
      <label for="identificacion">Número de Identificacion</label>
      <input name="identificacion" type="text" [(ngModel)]="persona.numeroIdentificacion"
        placeholder="Numero de identificacion" />
    </section>

    <section>
      <label for="nombres">Nombres Persona</label>
      <input name="nombres" type="text" [(ngModel)]="persona.nombre" placeholder="Nombres persona" />
    </section>

    <section>
      <label for="apellidos">Apellidos Persona</label>
      <input name="apellidos" type="text" [(ngModel)]="persona.apellido" placeholder="Apellidos persona" />
    </section>

    <section>
      <label for="fechaNacimiento">Fecha de Nacimiento</label>
      <input name="fechaNacimiento" type="text" [(ngModel)]="persona.fechaNacimiento"
        placeholder="fecha de Nacimiento dd/mm/yyyy" />
    </section>

    <section>
      <label for="telefono">Número Telefónico</label>
      <input name="telefono" type="text" [(ngModel)]="persona.telefono" placeholder="Numero Telefonico" />
    </section>

    <section>
      <label for="edad">Mayor de Edad?</label>
      <input name="sexo" type="checkbox" [(ngModel)]="persona.mayorEdad" value="Si" />Si
    </section>

    <section>
      <label for="sexo">Sexo</label>
      <input type="radio" value="masculino" name="sexo" [(ngModel)]="persona.sexo" required #genderControl="ngModel">
      Masculino
      <input type="radio" value="femenino" name="sexo" [(ngModel)]="persona.sexo" required> Ffemenino
    </section>

    <section>
      <label for="roles">Roles</label>
      <input name="comprador" type="checkbox" [(ngModel)]="persona.esComprador" value="Si" />Comprador
      <input name="vendedor" type="checkbox" [(ngModel)]="persona.esVendedor" value="Si" />Vendedor
    </section>

    <input value="Agregar" type="button" (click)="guardar()">

    <!--
      tabla con el ciclo de recorrido de las personas almacenadas
    -->
    <table *ngIf="personas.length>0;">
      <tr>
        <td>Nombres</td>
        <td>Apellidos</td>
        <td>Tipo Identificación</td>
        <td>Nª Identificación</td>
        <td>Número Telefónico</td>
        <td>Fecha de Nacimiento</td>
        <td>Género</td>
        <td>Eliminar</td>
        <td>Modificar</td>
        <td>Ver</td>
      </tr>
      <tr *ngFor="let per of personas">
        <td>
          <span>{{per.nombre | lowercase}} </span>
        </td>
        <td>
          <span>{{per.apellido | uppercase}} </span>
        </td>
        <td>
          <span>{{per.tipoIdentificacion}} </span>
        </td>
        <td>
          <span>{{per.numeroIdentificacion}} </span>
        </td>
        <td>
          <span>{{per.telefono}} </span>
        </td>
        <td>
          <span>{{per.fechaNacimiento | date:'shortDate'}}</span>
        </td>
        <td>
          <span>{{per.sexo}} </span>
        </td>
        <td>
          <input value="Borrar" type="button" (click)="borrar(per)">
        </td>
        <td>
          <input value="Modificar" type="button" (click)="borrar(per)">
        </td>
        <td>
          <input value="Ver" type="button" (click)="borrar(per)">
        </td>
      </tr>
    </table>
  </div>
  <!--<pre>{{ persona | json }}</pre>-->

</form>